html {
  box-sizing: border-box;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0px;
  padding: 0px;
}
a {
  color: inherit;
  text-decoration: none;
}
